@using noochAdminNew.Classes.ModelClasses;
@using noochAdminNew.Models;

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TransactionClass> allTransactions = Model;
}

<!-- Data Tables CSS -->
<link href="~/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

<!-- Sweet Alert -->
<link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
<script src='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.min.js'></script>


<script type="text/javascript">
    $(document).ready(function (e)
    {
        $(".btnCancel").click(function (e)
        {
            var data_val = $(this).attr('data-val');

            swal({
                title: "Are you sure?",
                text: "Do you want to cancel this transaction?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes - Cancel",
                closeOnConfirm: false
            }, function (isConfirm)
            {
                if (isConfirm) {
                    var url = "../Admin/CancelTransaction";
                    var data = {};
                    data.transactionId = data_val;

                    $.post(url, data, function (result)
                    {
                        if (result.IsSuccess == true) {
                            toastr.success(result.Message, 'Transaction cancelled successfully ')
                            swal("Done!", "Transaction cancelled successfully ", "success");

                            $("#" + data_val).html("<span class='text-danger'><strong>Cancelled</strong></span>");
                        }
                        else {
                            tostr.error(result.Message, 'Error');
                        }
                    });
                }
            });
        });
    });
</script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nooch Transactions</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-12" id="memListAllTableDiv">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <h5>All Payments</h5>

                    <div class="ibox-tools">
                    </div>

                </div>

                <div class="ibox-content">

                    <div class="row">
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="AllMembers">
                        <thead>
                            <tr>
                                <th>Trans ID</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Sender</th>
                                <th>Recipient</th>
                                <th>Amount</th>
                                <th>Memo</th>
                                <th>Location</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody id="TBOdy">

                            @foreach (TransactionClass ad in Model)
                            {
                                <tr class="gradeX">

                                    <td><small>@ad.TransactionId</small></td>

                                    <td>@ad.TransactionType</td>

                                    <td id="@ad.TransactionId">
                                        @if (ad.TransactionStatus == "Pending")
                                        {
                                            <span class="text-primary">Pending</span>
                                        }
                                        else if (ad.TransactionStatus == "Cancelled" || ad.TransactionStatus == "Rejected")
                                        {
                                            <span class="text-danger"><strong>@ad.TransactionStatus</strong></span>
                                        }
                                        else if (ad.TransactionStatus == "Success")
                                        {
                                            <span class="text-success"><strong>@ad.TransactionStatus</strong></span>
                                        }
                                    </td>

                                    <td>@ad.TransactionDate1</td>

                                    <td>
                                        @if (@ad.SenderNoochId != null) { 
                                    <a href='@Url.Action("Detail", "Member", new { NoochId=@ad.SenderNoochId} )'>@ad.SenderName</a>
                                        }
                                        else
                                        {
                                            @ad.SenderName
                                        }
                                    </td>

                                    <td>
                                        @if (@ad.RecepientNoochId != null)
                                        {
                                            <a href='@Url.Action("Detail", "Member", new { NoochId=@ad.RecepientNoochId} )'>@ad.RecipienName</a>
                                        }
                                        else
                                        {
                                            @ad.RecipienName
                                        }
                                    </td>
                                    <td><b>$@ad.Amount</b></td>

                                    <td>@ad.Memo</td>

                                    <td>
                                        <button type="button" id="btnLocation" class="btn btn-link btn-xs " onclick="showLocationModal('@ad.TransLati','@ad.TransLongi','@ad.state')">@ad.city @ad.state</button>
                                    </td>

                                    <td>
                                        @if (ad.TransactionStatus == "Pending")
                                        {
                                            <button type="button" data-val="@ad.TransactionId" class="btn btn-icon btn-xs btnCancel" onclick="statusCancel(@ad.TransactionId)" data-toggle="tooltip" data-placement="auto" title="Cancel this transaction">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                    <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </button>

                                            <button type="button" data-val="@ad.TransactionId" class="btn btn-icon btn-xs btnRemind" data-toggle="tooltip" data-placement="auto" title="Send a reminder">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                    <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Data Tables JS-->
<script src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="~/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/Scripts/App/Utility.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/App/MembersList.js"></script>


<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#TransactionMaster").trigger("click");

        $('#transMenuItem').addClass('active');

        $('#AllMembers')//.on( 'init.dt', function () {
			//console.log('Table initialisation complete. #1');
			//$('[data-toggle="tooltip"]').tooltip()
		//})
		.dataTable({
		    responsive: true,
		    "order": [3, "desc"],
		    "initComplete": function (settings, json)
		    {
		        //console.log('Table initialisation complete. #2');
		        $('[data-toggle="tooltip"]').tooltip()
		    },
		    "columnDefs": [
				{ className: "actions", "targets": [-1] },
                { "orderable": false, "targets": [0, -1] },
				{ "width": "70px", "targets": -1 },
				//{"type": "date", "targets": 3},
		    ],
		    "language": {
		        "info": "Showing _START_ to _END_ of _TOTAL_ Total Transactions"
		    }
		    //    "tableTools": {
		    //        "sSwfPath": "../js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
		    //    }
		});
    });

    function showLocationModal(lati, longi, stte)
    {
        var v = 'https://www.google.com/maps/embed/v1/place?q=' + lati + ',' + longi + '&center=' + lati + ',' + longi + '&key=AIzaSyDrUnX1gGpPL9fWmsWfhOxIDIy3t7YjcEY&zoom=13';
        $('#googleFrame').attr('src', v);

        $("#citystate").text(stte);

        $('#modal-transferLocation').modal();
        return false;
    }
</script>

<div class="modal fade" id="modal-transferLocation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="fa fa-map-marker pull-left"></span>Transfer Location</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:16px;text-align:center;" class="m-b-sm">This transfer was sent from: <strong><span id="citystate"></span></strong>.</p>
                <iframe width="100%" id="googleFrame"
                        height="420"
                        frameborder="0"
                        style="border:0;margin:10px auto 0;"
                        src=''></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    window.paceOptions = {
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
        }
    };
</script>

<style>
    body.DTTT_Print {
        background: #fff;
    }

    .DTTT_Print #page-wrapper {
        margin: 0;
        background: #fff;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }

        button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
            border: 1px solid #d2d2d2;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }

    .dataTables_filter label {
        margin-right: 5px;
    }
</style>
